// Colors
$brand-primary: #5b4681;
$gray: #dddddd;

// Spacing
$space: 1.4rem;
$site-max-width: 50rem;

// Font Sizes
$base-font-size: 1.4rem;


//Form Inputs
$input-border: $gray;
$input-spacing: 1rem;

// Boxed view 
$boxed-view-overlay-bg: $gray;
$boxed-view-bg: white;

// Buttons
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: #f9f9f9;
$button-secondary-color: #777777;
$button-secondary-border-color: $gray;

// HEADER
$header-bg: $brand-primary;
$header-color: white;

